{% extends "single-column.twig" %}

{% block title %}MVHPC :: Search Images{% endblock %}

{% block singlecolumnbody %}
<h1 class="ribbon">Image Search</h1>

<input name="terms" type="text" size="40" id="global" value="{{ terms }}" />
<input class="button" id="search" type="submit" value="Search" />

{% if terms is not empty %}
<p class='body_text center'>Your search for "{{ terms }}" returned {{ count }} results</p><br>

{% for image in images %}
    <a href="/archives/images/{{ image.id }}"><img src="http://mvhpc.org/{{ image.thumbnail }}" /></a>&nbsp;
{% endfor %}

{% autoescape false %}
{{ paging }}
{% endautoescape %}

{% endif%}

<script>
    $().ready(function() {
        $('#global').focus();
    });
</script>
{% endblock %}